generateScanReport=true
wss.url=https://ibmets.whitesourcesoftware.com/agent
updateInventory=true
scanReportFilenameFormat=project_only
excludes=**/tools/** **/gluten-ut/** **/gluten-celeborn/** **/gluten-kafka/**  **/gluten-uniffle/** **/cpp-ch/** **/backends-clickhouse/** **/dev/** **/shims/spark32/** **/shims/spark32/** **/shims/spark33/** **gluten-celeborn** **gluten-flink**  **gluten-paimon** **tools/gluten-it**
