excludes=**/tools/** **/gluten-ut/** **/gluten-celeborn/** **/gluten-kafka/**  **/gluten-uniffle/** **/cpp-ch/** **/backends-clickhouse/** **/dev/** **/shims/spark32/** **/shims/spark32/** **/shims/spark33/**  **gluten-flink**  **gluten-paimon** **tools/gluten-it**
python.path=python3.12
python.invokePipAsModule=true
